body {
    background-color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
}

#bongo {
    height: 50vh;
}

.bordeRojo {
    border: 5px solid red;
}