body {
    background-color: black;
}

h1,
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.password {
    display: flex;
    justify-content: center;
}

#codigo1,
#codigo2,
#codigo3 {
    width: 50px;
    margin: 10px;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton button {
    height: 50px;
    width: 150px;
    margin-top: 30px;
    background-color: rosybrown;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.boton button:hover {
    background-color: rgb(127, 95, 95);
}

#mensaje {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

